
@media screen and (max-width: 800px){
    .blockA {
        height: 30%;
    }
    .blockBCDE {
        width: 100%;
        height: 35%;
    }
    .blockF {
        width: 100%;
        height: 35%;
    }
}